body{
    text-align: center;
    background-image: url("picture.jpg");
    display: block;
}
h1 {
    text-align: center;
    color: rgb(31,18,2);
    padding: 10px;
    font-family: 'French Script MT', sans-serif;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.8), 0 0 30px rgba(255, 255, 255, 0.8), 0 0 40px rgba(255, 255, 255, 0.8), 0 0 70px rgba(255, 255, 255, 0.8), 0 0 80px rgba(255, 255, 255, 0.8), 0 0 100px rgba(255, 255, 255, 0.8);
    font-size: 6rem;
    font-weight: bold;
  }
  label{
    color: rgb(230, 230, 181);
  }
.inputBox{
    padding-bottom: 5rem;
    font-weight: bold;
    font-size: 40px;
}
.converter{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
.box{
    padding: 8px;
}
#result{
    font-family: sans-serif;
    color: beige;
}